bachelors_project/application/
bachelors_project/system/tools/buildroot-2023.02/
bachelors_project/system/output/
bachelors_project/SDKs/arm-buildroot-linux-gnueabihf_sdk-buildroot/

bachelors_project/SDKs/arm-buildroot-linux-gnueabihf_sdk-buildroot.tar.gz
bachelors_project.tar.gz
